openapi: 3.1.0
info:
  title: Relay developer API
  version: "0.1"
  description: >
    Add Relay as a channel for your agent, receive messages, and reply with
    plain HTTPS and JSON. Authenticate every request with an Agent Token unless
    the endpoint is marked otherwise. Data parts are stored and delivered as
    sent and render through their fallback text, except for the reserved
    `data.type` values Relay resolves itself.
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
  - url: https://api.relayapp.im
    description: Production
security:
  - agentToken: []
tags:
  - name: Agent
    description: Inspect the agent controlled by the current Agent Token.
  - name: Messages
    description: Send a message, read history, and react.
  - name: Conversations
    description: >
      List the conversations an agent is in, advance receipts, and show the
      typing indicator.
  - name: Events
    description: >
      Register signed webhook subscriptions and receive Linq-compatible event
      payloads. Delivery is at least once; always deduplicate by `event_id`.
  - name: Attachments
    description: Upload bytes once and reference them from any number of parts.
  - name: Pairing
    description: >
      Device authorization (RFC 8628) for terminal bridges. Four calls, in this
      order: the computer asks for a code, the person opens the verification URI
      so the code is claimed for their account, the person approves it, and the
      computer exchanges the code for a session.
  - name: Public
    description: Share profiles.

paths:
  /v1/agents/me:
    get:
      tags: [Agent]
      summary: Verify the agent token
      description: Verify an Agent Token and read the agent profile it controls.
      operationId: getAgentMe
      responses:
        "200":
          description: The authenticated agent profile.
          content:
            application/json:
              schema:
                type: object
                required: [agent]
                properties:
                  agent:
                    $ref: "#/components/schemas/AgentProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/users/{user_id}:
    get:
      tags: [Agent]
      summary: Get a user
      description: >
        Resolve a human participant your agent is in conversation with. Every
        `message.received` event carries `data.sender_handle.id` (a `usr_…`
        id); pass it here to read that sender's name and messaging phone
        number, enough to greet them or match them to an existing account.


        Scope: the user must currently share an active conversation with your
        agent. Any other id (unknown, or a user you have no active
        conversation with) returns `404` so the endpoint can neither enumerate
        accounts nor confirm who owns a phone number.
      operationId: getUser
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: The `sender_handle.id` from a `message.received` event.
          example: usr_01JZU1F0BD
      responses:
        "200":
          description: The resolved user profile.
          content:
            application/json:
              schema:
                type: object
                required: [user]
                properties:
                  user:
                    $ref: "#/components/schemas/UserProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/messages:
    post:
      tags: [Messages]
      summary: Send a message
      description: >
        Send as the authenticated agent. One send is one message: text and
        media handed over together stay together as the ordered parts of a
        single message, and every committed part is given a permanent
        `part_id`.


        `message_id` is the canonical id of the resulting message and the
        send's idempotency key. Mint it before queueing the send: retrying with
        the same id replays the stored message, and an id already committed by
        another sender answers `409 idempotency_conflict` without revealing
        whose it is. Omit it and Relay mints one, which makes the send
        non-idempotent; an `Idempotency-Key` header is read only when it is
        itself a `msg_` id.


        `reply_to` is a pointer, never a copy: it names a message of this
        conversation and optionally one exact part of it, and the client draws
        the quote from the target.
      operationId: sendMessage
      parameters:
        - $ref: "#/components/parameters/OptionalIdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageInput"
      responses:
        "202":
          description: Send accepted; the committed message.
          content:
            application/json:
              schema:
                type: object
                required: [message_id, message]
                properties:
                  message_id:
                    type: string
                    description: The canonical id, equal to `message.id`.
                    example: msg_01k1m4q9vn2r7t9b4c6qdh8xwy
                  message:
                    $ref: "#/components/schemas/Message"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: The agent is not an active participant, or is blocked or not installed for the user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: The conversation does not exist, or the reply target does not.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: >
            `idempotency_conflict`: this `message_id` is already committed by a
            different sender or with a different request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "413":
          description: The request body exceeds 512 KB.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: The message id, conversation id, parts, attachment reference, or reply target is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/CommitUnavailable"

  /v1/messages/{message_id}/reactions:
    post:
      tags: [Messages]
      summary: Add or remove a reaction
      description: >
        Add or remove an emoji on a message, or on one exact part of it.
        Recipients receive `reaction.added` / `reaction.removed` events.


        One reaction per actor per target slot, the way an iMessage tapback
        behaves: adding a second emoji to a slot replaces the first, and
        removing one that is not there is a documented no-op that answers `200`
        with `changed: false`. Events are emitted only when `changed` is true,
        so a retry costs the recipient nothing and no operation id is needed.


        Omit `target_part_id` to react to the whole message. Send it to react
        to one part, of any kind.
      operationId: reactToMessage
      security:
        - agentToken: []
        - userSession: []
      parameters:
        - $ref: "#/components/parameters/MessageId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReactionInput"
      responses:
        "200":
          description: >
            Reaction state updated. The body echoes the reaction Relay
            recorded, which is also what recipients receive in the
            `reaction.added` or `reaction.removed` event.
          content:
            application/json:
              schema:
                type: object
                required: [reaction]
                properties:
                  reaction:
                    $ref: "#/components/schemas/Reaction"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: >
            The actor is not an active participant, the target sits outside
            the actor's membership window, or the agent is blocked or not
            installed for this conversation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: The message does not exist or is not visible to this actor.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: >
            The operation, type, or emoji is invalid, or `target_part_id` names
            a part this message does not have.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/WriteBudgetExceeded"

  /v1/chats:
    get:
      tags: [Conversations]
      summary: List conversations
      description: >
        List conversations where the authenticated agent is an active
        participant. Results are ordered by `last_message_at` descending, with
        conversations that have no messages last. Pass the opaque
        `next_cursor` unchanged to read the next page; it is omitted on the
        final page.
      operationId: listConversations
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
          description: Opaque `next_cursor` from the previous page.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: Conversations visible to this agent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentConversationListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          description: Cursor or limit is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/chats/{chat_id}:
    get:
      tags: [Conversations]
      summary: Get a conversation
      description: >
        Read one conversation where the authenticated agent is an active
        participant. Unknown conversations and conversations outside the
        agent's active membership both return 404.
      operationId: getConversation
      parameters:
        - $ref: "#/components/parameters/ConversationId"
      responses:
        "200":
          description: The conversation visible to this agent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentConversationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/chats/{chat_id}/messages:
    get:
      tags: [Messages]
      summary: Read conversation history
      description: >
        Read a conversation's messages, newest first, inside the caller's
        membership window. Page backwards with `before_sequence`. Group
        membership is what grants access: an agent in a group reads the group's
        history from the sequence it joined at, exactly as a person does.


        History projections carry the reader's view of each message: the
        current `reactions` and — in a 1:1 conversation — the sender's
        `delivered_at` / `read_at` stamps.
      operationId: listConversationMessages
      security:
        - agentToken: []
        - userSession: []
      parameters:
        - $ref: "#/components/parameters/ConversationId"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before_sequence
          in: query
          schema:
            type: integer
          description: Return only messages with a lower sequence.
      responses:
        "200":
          description: Messages, newest first.
          content:
            application/json:
              schema:
                type: object
                required: [messages]
                properties:
                  messages:
                    type: array
                    items:
                      $ref: "#/components/schemas/Message"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: The actor is not a participant in this conversation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags: [Messages]
      summary: Send a message into a conversation
      description: >
        The conversation-scoped form of a send, with the same body and the same
        idempotency rules as `POST /v1/messages`. It answers `201` and wraps
        the committed message in an array of one, which is the shape shipped
        clients read; `/v2` returns the message on its own. Both commit exactly
        one message.
      operationId: sendConversationMessage
      security:
        - agentToken: []
        - userSession: []
      parameters:
        - $ref: "#/components/parameters/ConversationId"
        - $ref: "#/components/parameters/OptionalIdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageBody"
      responses:
        "201":
          description: The committed message, as an array of one.
          content:
            application/json:
              schema:
                type: object
                required: [messages]
                properties:
                  messages:
                    type: array
                    minItems: 1
                    maxItems: 1
                    items:
                      $ref: "#/components/schemas/Message"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: The sender is not an active participant of this conversation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: "`idempotency_conflict`: this `message_id` belongs to a different request."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "413":
          description: The request body exceeds 512 KB.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: The message id, parts, an attachment reference, or the reply target is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/CommitUnavailable"

  /v2/chats/{chat_id}/messages:
    post:
      tags: [Messages]
      summary: Send one message
      description: >
        The current send. One send is one message, the response is the message
        on its own, and the request body is validated strictly: any field
        outside `message_id`, `parts`, `reply_to` and `text` answers
        `422`.


        The client mints `message_id` before queueing the send. It is the
        canonical id and the idempotency key: retrying with the same id and the
        same request replays the original `201`, and an id already taken by
        another sender answers `409 idempotency_conflict` without revealing
        whose it is. No `Idempotency-Key` header is involved, and unlike `/v1`
        the id is required.
      operationId: sendMessageV2
      security:
        - agentToken: []
        - userSession: []
      parameters:
        - $ref: "#/components/parameters/ConversationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageV2Input"
      responses:
        "201":
          description: The committed message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendMessageV2Response"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: The sender is not an active participant of this conversation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: >
            `idempotency_conflict`: this `message_id` is already committed with
            a different request, or is still in flight. A `Retry-After` header
            is present in the in-flight case.
          headers:
            Retry-After:
              description: Whole seconds until the in-flight operation should be retried.
              schema:
                type: integer
                minimum: 1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "413":
          description: The request body exceeds 512 KB.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: >
            An unexpected field is present, or the message id, parts, an
            attachment reference, or the reply target is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/CommitUnavailable"

  /v1/webhooks:
    get:
      tags: [Events]
      summary: List webhook subscriptions
      description: List the authenticated agent's webhook subscriptions. Signing secrets are never returned.
      operationId: listWebhooks
      responses:
        "200":
          description: The agent's webhook subscriptions, newest first.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Events]
      summary: Create a webhook subscription
      description: >
        Register a public HTTPS receiver and a non-empty subset of supported
        Linq event names. Omit `events` to subscribe to all supported events.
        An agent can have up to five enabled subscriptions. The signing secret
        is returned only in this response; store it now.
      operationId: createWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookCreateInput"
      responses:
        "201":
          description: Subscription created; store the signing secret now.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSecretResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: The URL is already registered, or five subscriptions are already enabled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: >
            The body, URL, or event subscription list is invalid. Credentials,
            fragments, private hosts, and non-HTTPS production URLs are rejected.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/WriteBudgetExceeded"
        "503":
          $ref: "#/components/responses/WebhookDeliveryUnavailable"

  /v1/webhooks/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Webhook subscription ID.
        schema:
          type: string
          pattern: "^wh_"
    patch:
      tags: [Events]
      summary: Update a webhook subscription
      description: Change the receiver URL, subscribed event names, or enabled state.
      operationId: updateWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookUpdateInput"
      responses:
        "200":
          description: The updated subscription.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [webhook]
                properties:
                  webhook:
                    $ref: "#/components/schemas/Webhook"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: The URL is already registered, or enabling this subscription would exceed the limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: No update was supplied, or an update value is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      tags: [Events]
      summary: Delete a webhook subscription
      operationId: deleteWebhook
      responses:
        "204":
          description: Subscription deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/webhooks/{id}/rotate-secret:
    parameters:
      - name: id
        in: path
        required: true
        description: Webhook subscription ID.
        schema:
          type: string
          pattern: "^wh_"
    post:
      tags: [Events]
      summary: Rotate a webhook signing secret
      description: >
        Mint a new secret for this subscription. The previous secret remains
        valid for 24 hours so receivers can deploy the new secret safely.
      operationId: rotateWebhookSecret
      responses:
        "200":
          description: Secret rotated; store the new plaintext secret now.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSecretResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/WriteBudgetExceeded"
        "503":
          $ref: "#/components/responses/WebhookDeliveryUnavailable"

  /v1/attachments:
    post:
      operationId: uploadAttachment
      summary: Upload an attachment
      description: >-
        Streams one raw request body directly to Relay storage, up to 100 MB.
        `Content-Length` is required and Relay verifies it against the stored
        object size. `Content-Type` sets the stored MIME type;
        `X-Relay-Filename` names downloads. Agent tokens and user sessions both
        work; the attachment is private to its uploader. The upload budget is
        counted in megabytes rather than requests, and it is charged from the
        declared `Content-Length` before the body streams.
      tags: [Attachments]
      security:
        - agentToken: []
        - userSession: []
      parameters:
        - in: header
          name: Content-Length
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 104857600
          description: Exact raw request-body size in bytes.
        - in: header
          name: Content-Type
          schema: { type: string }
          example: image/png
        - in: header
          name: X-Relay-Filename
          schema: { type: string }
          example: chart.png
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "201":
          description: Stored and available.
          content:
            application/json:
              schema:
                type: object
                required: [attachment]
                properties:
                  attachment:
                    type: object
                    required: [id, url, content_type, filename, size_bytes]
                    properties:
                      id: { type: string, example: att_01KXGWNZFR }
                      url: { type: string, description: Capability download URL. }
                      content_type: { type: string, example: image/png }
                      filename: { type: string, example: chart.png }
                      size_bytes: { type: integer }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          description: The declared attachment size exceeds 100 MB.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: >
            Content-Length is missing or invalid, the body is empty, the stored
            size does not match the declaration, or the bytes do not match the
            declared type.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/WriteBudgetExceeded"

  /v1/attachments/{attachment_id}:
    get:
      operationId: getAttachment
      summary: Get attachment metadata
      description: Uploader-only. Others receive 404.
      tags: [Attachments]
      security:
        - agentToken: []
        - userSession: []
      parameters:
        - in: path
          name: attachment_id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Metadata and download URL.
          content:
            application/json:
              schema:
                type: object
                required: [attachment]
                properties:
                  attachment:
                    type: object
                    properties:
                      id: { type: string }
                      state: { type: string, enum: [pending, available, failed, rejected, deleted] }
                      content_type: { type: string }
                      filename: { type: string }
                      size_bytes: { type: integer }
                      url: { type: [string, "null"] }
                      created_at: { type: string, format: date-time }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Not found or not the uploader.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/chats/{chat_id}/typing:
    post:
      operationId: setTyping
      summary: Start or stop the typing indicator
      description: >-
        Ephemeral, the way iMessage treats it: the signal is pushed to the
        other people's live devices and nothing is stored, so it takes no
        sequence, never enters the event log, and is never replayed. Recipients
        receive `chat.typing_indicator.started` or `chat.typing_indicator.stopped` carrying `timeout_ms`, and
        hide the indicator on their own once that many milliseconds pass
        without a refresh. Send the start again while still composing to keep
        it alive.


        The signal reaches the conversation's other people, never other agents,
        and its payload is
        `{ "chat_id": "cnv_…", "participant": { "kind": "agent", "id":
        "agt_…" }, "timeout_ms": 90000 }`.
      tags: [Conversations]
      security:
        - agentToken: []
        - userSession: []
      parameters:
        - $ref: "#/components/parameters/ConversationId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                started:
                  type: boolean
                  default: true
                  description: >
                    `false` stops the indicator. Any other value, and an absent
                    or unparseable body, mean started.
      responses:
        "204":
          description: Signal accepted. There is no body.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: >
            The actor is not a participant, or the agent is blocked or not
            installed for this conversation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/WriteBudgetExceeded"

  /v1/chats/{chat_id}/delivered:
    post:
      operationId: markDelivered
      summary: Advance the delivery watermark
      description: >-
        Records that the caller received everything through `message_id`.
        Only a recipient can advance this watermark. Older or repeated targets
        are idempotent no-ops and never imply that the messages were read.
        A successful webhook acknowledgement already stamps an inbound message
        delivered, so an agent needs this only for an explicit stamp.
      tags: [Conversations]
      security:
        - agentToken: []
        - userSession: []
      parameters:
        - $ref: "#/components/parameters/ConversationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReceiptInput"
      responses:
        "200":
          description: Delivery watermark state after the call.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceiptResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: The actor is not a participant, or the message is outside its membership window.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: The conversation or message was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: message_id is missing, malformed, or names the caller's own message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/WriteBudgetExceeded"

  /v1/chats/{chat_id}/read:
    post:
      operationId: markRead
      summary: Advance the read watermark
      description: >-
        Marks everything through `message_id` read for the caller. Read implies
        delivered; older or repeated targets are idempotent no-ops.
      tags: [Conversations]
      security:
        - agentToken: []
        - userSession: []
      parameters:
        - $ref: "#/components/parameters/ConversationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReceiptInput"
      responses:
        "200":
          description: Watermark state after the call.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceiptResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: The actor is not a participant, or the message is outside its membership window.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: The conversation or message was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: message_id is missing, malformed, or names the caller's own message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/WriteBudgetExceeded"

  /api/auth/device/code:
    post:
      tags: [Pairing]
      summary: Request a device code
      description: >
        Step one of RFC 8628 device authorization, and the way a terminal
        bridge pairs with a Relay account. No authentication; show the returned
        `user_code` (and a QR of `verification_uri_complete`) to the person,
        then poll `POST /api/auth/device/token` every `interval` seconds. Codes
        expire after `expires_in` seconds.


        The person must open the verification URI before approving. That read
        is what binds the pending request to their account; approving a code
        nobody has opened answers `400 invalid_request`.
      operationId: requestDeviceCode
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [client_id]
              properties:
                client_id:
                  type: string
                  description: The identifier of the bridge asking to pair.
                  example: relay-cli
                scope:
                  type: string
                  description: Space-separated scopes, when the bridge asks for any.
      responses:
        "200":
          description: Codes issued; show the user code and start polling.
          content:
            application/json:
              schema:
                type: object
                required: [device_code, user_code, verification_uri, verification_uri_complete, expires_in, interval]
                properties:
                  device_code:
                    type: string
                    description: The bridge's secret half. Never show it to the person.
                  user_code:
                    type: string
                    description: The short code the person types into the Relay app.
                    example: ABCD-EFGH
                  verification_uri:
                    type: string
                    format: uri
                  verification_uri_complete:
                    type: string
                    format: uri
                    description: The same URI with the user code embedded, for a QR or a deep link.
                  expires_in:
                    type: integer
                    description: Seconds until the codes stop being claimable.
                    example: 600
                  interval:
                    type: integer
                    description: Minimum seconds between token polls.
                    example: 5
        "400":
          description: >
            `invalid_request` or `invalid_client`, in the RFC 8628 error shape.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceAuthorizationError"

  /api/auth/device:
    get:
      tags: [Pairing]
      summary: Claim a device code
      description: >
        Step two, and not only a read. Looking a pending `user_code` up while
        signed in CLAIMS it for that account, which is the binding
        `POST /api/auth/device/approve` requires. Skip this call and the
        approval answers `400 invalid_request`.


        The Relay app calls this to render the approval sheet. `client_id` and
        `scope` come back only to the person the request is now bound to.
      operationId: getDeviceAuthorization
      security:
        - userSession: []
      parameters:
        - name: user_code
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Current status of the device authorization.
          content:
            application/json:
              schema:
                type: object
                required: [user_code, status]
                properties:
                  user_code: { type: string }
                  status:
                    type: string
                    enum: [pending, approved, denied]
                  client_id: { type: string }
                  scope: { type: string }
        "400":
          description: The user code is unknown or expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceAuthorizationError"

  /api/auth/device/approve:
    post:
      tags: [Pairing]
      summary: Approve a device
      description: >
        Step three. The signed-in person approves the pairing they are looking
        at. Only the account that claimed the code with `GET /api/auth/device`
        may approve it, and only while it is still pending. An unclaimed code
        answers `400 invalid_request`.
      operationId: approveDeviceAuthorization
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userCode]
              properties:
                userCode:
                  type: string
                  description: The code shown on the computer.
      responses:
        "200":
          description: Approved. The waiting computer's next token poll succeeds.
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success: { type: boolean, const: true }
        "400":
          description: The user code is unknown, expired, unclaimed, or already answered.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceAuthorizationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: "`access_denied`: this account may not approve that request."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceAuthorizationError"

  /api/auth/device/token:
    post:
      tags: [Pairing]
      summary: Exchange a device code for a session
      description: >
        Step four. Poll no faster than the `interval` returned with the code. `authorization_pending` means keep waiting, `slow_down` means
        wait longer, and `expired_token` or `access_denied` end the attempt.


        A success returns a Relay user session. That session acts as the person
        who approved it, and it is not an Agent Token: the bridge's agent
        authenticates separately with the `rly_live_…` token issued when that
        agent was created.
      operationId: exchangeDeviceCode
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [grant_type, device_code, client_id]
              properties:
                grant_type:
                  type: string
                  const: "urn:ietf:params:oauth:grant-type:device_code"
                device_code:
                  type: string
                client_id:
                  type: string
      responses:
        "200":
          description: The approved session.
          content:
            application/json:
              schema:
                type: object
                required: [access_token, token_type, expires_in]
                properties:
                  access_token:
                    type: string
                    description: Bearer session token for the paired Relay account.
                  token_type: { type: string, const: Bearer }
                  expires_in: { type: integer }
                  scope: { type: string }
        "400":
          description: >
            `authorization_pending`, `slow_down`, `expired_token`,
            `access_denied`, `invalid_request`, or `invalid_grant`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceAuthorizationError"

  /v1/agents/{handle}/profile:
    get:
      tags: [Public]
      summary: Public participant profile
      description: >
        The profile behind a human username or an agent's share link
        (`relayapp.im/@handle`). A suspended or retired identity returns 404.
        Exposes only displayable identity, never tokens or configuration.
      operationId: getAgentProfile
      security: []
      parameters:
        - name: handle
          in: path
          required: true
          schema:
            type: string
          description: Participant handle without the leading `@`.
      responses:
        "200":
          description: Displayable human or agent identity.
          content:
            application/json:
              schema:
                type: object
                required: [agent]
                properties:
                  agent:
                    type: object
                    additionalProperties: false
                    required: [handle, display_name, tagline, avatar_url, accent_color, kind, creator]
                    properties:
                      handle:
                        type: string
                      display_name:
                        type: string
                      tagline:
                        type: [string, "null"]
                        description: Agent tagline. Null for a human profile.
                      avatar_url:
                        type: [string, "null"]
                        format: uri
                        maxLength: 2048
                        pattern: "^https://(?![^/?#]*@)"
                      accent_color:
                        type: [string, "null"]
                        description: Agent accent color. Null for a human profile.
                      kind:
                        type: string
                        enum: [user, agent]
                      creator:
                        description: >
                          The creator organization behind the agent. Null when
                          the agent has none, and always null for a human
                          profile.
                        oneOf:
                          - type: object
                            additionalProperties: false
                            required: [kind, name]
                            properties:
                              kind: { type: string, enum: [organization] }
                              name: { type: string }
                          - type: "null"
        "404":
          description: No public profile with that handle.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

webhooks:
  agentEvent:
    post:
      tags: [Events]
      summary: Receive an agent event
      operationId: receiveAgentEventWebhook
      description: >
        Relay sends Linq's v3 envelope to each matching subscription. Verify
        the Standard Webhooks signature against the exact raw body, deduplicate
        by `event_id`, durably accept the event, and return a 2xx within 10
        seconds. A 408, 429, or 5xx is retried; a 3xx or any other 4xx is a
        permanent failure.
      security: []
      parameters:
        - name: webhook-id
          in: header
          required: true
          schema: { type: string }
          description: The event id. Unchanged across retries, and the dedupe key.
        - name: webhook-timestamp
          in: header
          required: true
          schema: { type: integer }
          description: Unix seconds when this delivery attempt was signed.
        - name: webhook-signature
          in: header
          required: true
          schema: { type: string }
          description: >
            One or more space-separated Standard Webhooks signatures such as
            `v1,<base64>`. Verify against any of them.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinqWebhookEnvelope"
      responses:
        "204":
          description: Event accepted.

components:
  securitySchemes:
    agentToken:
      type: http
      scheme: bearer
      description: Agent Token (`rly_live_…`), shown once when the agent is created in Relay Console.
    userSession:
      type: http
      scheme: bearer
      description: Better Auth user-session bearer used by the Relay app and by a paired bridge; never an Agent Token.

  parameters:
    OptionalIdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema:
        type: string
        pattern: "^msg_[0-9a-hjkmnp-tv-z]{26}$"
      description: >
        A legacy way to carry `message_id` for clients that cannot put it in
        the body. It is read only when it is itself a `msg_` id; any other
        value is ignored and the server mints the id.
    ConversationId:
      name: chat_id
      in: path
      required: true
      schema:
        type: string
        pattern: "^cnv_[0-9a-hjkmnp-tv-z]{26}$"
      example: cnv_01k1m4q9vn2r7t9b4c6qdh8xwy
    MessageId:
      name: message_id
      in: path
      required: true
      schema:
        type: string
        pattern: "^msg_[0-9a-hjkmnp-tv-z]{26}$"
      example: msg_01k1m4q9vn2r7t9b4c6qdh8xwy

  responses:
    Unauthorized:
      description: The token or session is absent or invalid.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    WebhookDeliveryUnavailable:
      description: Relay's webhook signing service is temporarily unavailable.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    CommitUnavailable:
      description: >
        `temporarily_unavailable`: the commit was busy, the database was
        briefly unreachable, or the transaction exceeded its time budget. Retry
        with the same `message_id`; idempotency makes that safe.
      headers:
        Retry-After:
          description: Whole seconds before retrying.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: The resource does not exist or is not visible to this caller.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: The per-conversation message-write ceiling was reached.
      headers:
        Retry-After:
          description: Whole seconds until Relay can admit another new canonical write.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    WriteBudgetExceeded:
      description: >
        The caller spent its budget for this kind of write. Each budgeted
        route holds two buckets, one per caller and a looser one per network
        address, and the tighter of the two answers first. The body carries
        `rate_limited`. See [Limits](/reference/limits) for the ceilings.
      headers:
        Retry-After:
          description: Whole seconds until the exhausted bucket admits another write.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: invalid_request
            message:
              type: string
              example: chat_id is required

    DeviceAuthorizationError:
      type: object
      description: >
        The RFC 8628 error shape, which is not Relay's `Error` envelope: the
        device endpoints answer in the OAuth idiom their clients already parse.
      required: [error, error_description]
      properties:
        error:
          type: string
          example: authorization_pending
        error_description:
          type: string

    AgentConversationListResponse:
      type: object
      additionalProperties: false
      required: [conversations]
      properties:
        conversations:
          type: array
          maxItems: 100
          items:
            $ref: "#/components/schemas/AgentConversation"
        next_cursor:
          type: string
          description: Opaque cursor for the next page. Omitted on the final page.

    AgentConversationResponse:
      type: object
      additionalProperties: false
      required: [conversation]
      properties:
        conversation:
          $ref: "#/components/schemas/AgentConversation"

    AgentConversation:
      type: object
      additionalProperties: false
      required:
        - id
        - is_group
        - display_name
        - counterpart_user
        - participant_count
        - last_sequence
        - last_message_at
        - created_at
      properties:
        id: { type: string, pattern: "^cnv_" }
        is_group: { type: boolean }
        display_name: { type: [string, "null"] }
        counterpart_user:
          description: The active human in a direct user-agent conversation; null for groups.
          oneOf:
            - $ref: "#/components/schemas/CounterpartUser"
            - type: "null"
        participant_count: { type: integer, minimum: 1 }
        last_sequence: { type: integer, minimum: 0 }
        last_message_at: { type: [string, "null"], format: date-time }
        created_at: { type: string, format: date-time }

    CounterpartUser:
      type: object
      additionalProperties: false
      required: [id, display_name, username, avatar_url]
      properties:
        id: { type: string, pattern: "^usr_" }
        display_name: { type: string }
        username: { type: [string, "null"] }
        avatar_url: { type: [string, "null"], format: uri }

    AgentProfile:
      type: object
      additionalProperties: false
      required: [id, handle, display_name, tagline, avatar_url, created_at]
      properties:
        id:
          type: string
          example: agt_01JZRELAY
        handle:
          type: string
          example: scheduler
        display_name:
          type: string
          example: Scheduler
        tagline:
          type: string
          example: Finds a time that works
        avatar_url:
          type: [string, "null"]
          format: uri
          maxLength: 2048
          pattern: "^https://(?![^/?#]*@)"
        created_at:
          type: string
          format: date-time

    UserProfile:
      type: object
      additionalProperties: false
      description: >
        A human participant your agent shares a conversation with. `name` is
        canonical; `first_name`/`last_name` are a convenience split of `name`
        on the first space (a two-word given name puts its tail in
        `last_name`), so greet with them but store `name` if you need the exact
        value.
      required: [id, name, first_name, last_name, phone_number, avatar_url, created_at]
      properties:
        id:
          type: string
          example: usr_01JZU1F0BD
        name:
          type: string
          example: Rushil Kagithala
        first_name:
          type: string
          example: Rushil
        last_name:
          type: string
          description: Empty when the name is a single word.
          example: Kagithala
        phone_number:
          type: [string, "null"]
          description: >
            The user's verified messaging number in E.164. Null only for a
            demo or email-only account.
          example: "+13135550123"
        avatar_url:
          type: [string, "null"]
          format: uri
          maxLength: 2048
        created_at:
          type: string
          format: date-time

    Agent:
      type: object
      description: >
        Consumer-safe agent identity. Top-level keys are camelCase here and the
        nested `creator` object is snake_case, which is the shape the app
        reads; every other body in this API is snake_case throughout.
        Installation is present only on an installed-agent projection. A
        system prompt, provider, model, runtime, credential, or backend
        configuration is never included.
      additionalProperties: false
      required:
        - id
        - handle
        - displayName
        - tagline
        - status
        - createdAt
      properties:
        id:
          type: string
          pattern: ^agt_
          example: agt_01JZRELAY
        handle:
          type: string
          pattern: ^[a-z][a-z0-9_]{2,31}$
          example: relay
        displayName:
          type: string
          example: Relay
        tagline:
          type: string
          example: Your built-in Relay agent
        avatarUrl:
          type: string
          format: uri
          maxLength: 2048
          pattern: "^https://(?![^/?#]*@)"
        accentColor:
          type: string
          example: "#0B75FF"
        installation:
          $ref: "#/components/schemas/AgentInstallation"
        creator:
          $ref: "#/components/schemas/AgentCreator"
        preinstalled:
          type: boolean
          description: >
            Present only on a built-in agent that arrives already installed.
            Every other agent omits the field.
        removable:
          type: boolean
          description: >
            Present only on an agent a user may not remove. Every other agent
            omits the field, and `installation.canRemove` carries the same
            state on an installed projection.
        status:
          type: string
          enum: [active, suspended, retired]
        createdAt:
          type: string
          format: date-time

    AgentInstallation:
      type: object
      description: >
        Present exactly when this person has the agent installed, so the
        block's presence is the relationship. All it carries is whether they
        may leave: a false `canRemove` hides and rejects ordinary removal,
        while Block and Report remain available as safety overrides.
      additionalProperties: false
      required: [canRemove]
      properties:
        canRemove:
          type: boolean

    AgentCreator:
      type: object
      description: >
        The organization accountable for the agent, as the app shows it under
        Creator on the profile. Values reflect the creator's live record, so a
        rename reaches every one of that creator's agents without a
        resubmission. Sub-keys are snake_case.
      additionalProperties: false
      required: [id, name, verified]
      properties:
        id:
          type: string
          example: org_01JZRELAY
        name:
          type: string
          example: Relay
        kind:
          type: string
          enum: [organization]
          description: Absent on older servers, which clients must read as `organization`.
        domain:
          type: string
          description: >
            The creator's verified domain. Omitted when the creator has not
            verified one.
          example: relayapp.im
        verified:
          type: boolean
          description: >
            True when Relay has verified the creator's domain and the creator
            is not suspended.

    PartInput:
      oneOf:
        - $ref: "#/components/schemas/TextPartInput"
        - $ref: "#/components/schemas/MediaPartInput"
        - $ref: "#/components/schemas/LinkPreviewPartInput"
        - $ref: "#/components/schemas/DataPartInput"
      discriminator:
        propertyName: type

    TextPartInput:
      type: object
      additionalProperties: false
      required: [type, text]
      properties:
        type: { type: string, const: text }
        text:
          type: string
          minLength: 1
          description: UTF-8 text, limited to 8 KB by the server.
        mention:
          $ref: "#/components/schemas/Mention"
        mention_range:
          type: array
          minItems: 2
          maxItems: 2
          items: { type: integer, minimum: 0 }
          description: >
            [start, end) UTF-16 code-unit offsets over `text`: one mention
            per text part, carried the way Linq carries them. The ranged text
            is display text and is not required to spell the handle. Required
            when `mention` is present. A mention notifies the named
            participant even when they have muted the group.
        styles:
          type: array
          maxItems: 200
          description: >
            Formatting runs over `text`. Each range covers a run of UTF-16
            code units, sorted by `start` and non-overlapping, and names the
            formats applied to that run. Styles are presentation only: the
            text stays canonical without them, and fallback text ignores
            them. An empty array is meaningful and kept. It marks the part
            as structured plain text, distinguishing it from a legacy
            Markdown body. Omit the field entirely for a legacy body.
          items:
            $ref: "#/components/schemas/StyleRange"

    MediaPartInput:
      type: object
      additionalProperties: false
      required: [type]
      properties:
        type: { type: string, const: media }
        url:
          type: string
          format: uri
          pattern: "^https://"
          description: >
            Public HTTPS source URL. The hostname must be publicly
            reachable: private and reserved ranges, loopback, and IP-literal
            hostnames are rejected. At commit the server imports the bytes
            into Relay-owned attachment storage and rewrites the part to
            reference the copy, so delivered history never depends on the
            third-party host staying alive.
        attachment_id:
          type: string
          pattern: "^att_"
          description: Available attachment created by `POST /v1/attachments`.
        content_type:
          type: string
          pattern: "^[a-zA-Z0-9][a-zA-Z0-9!#$&^_.+-]*/[a-zA-Z0-9][a-zA-Z0-9!#$&^_.+-]*$"
          example: video/mp4
          description: >
            MIME type for a public URL. For attachment_id sources, Relay uses
            the MIME type stored at upload and rejects a conflicting value.
        media_kind:
          type: string
          enum: [image, video, audio, file]
          description: >
            Optional presentation intent. Relay derives this from a specific
            image/*, video/*, or audio/* content_type. Use it to identify
            generic application/octet-stream media.
        filename:
          type: string
          minLength: 1
          maxLength: 180
          example: quarterly-report.pdf
          description: >
            Optional display filename, shown on a file row. Control
            characters are rejected and surrounding whitespace is trimmed.
            For attachment_id sources Relay uses the filename stored at
            upload and ignores this value.
        size_bytes:
          type: integer
          minimum: 0
          maximum: 104857600
          example: 2418562
          description: >
            Optional byte count, shown beside the filename so a reader sees
            the size before downloading. For attachment_id sources Relay
            uses the stored byte count and ignores this value.
        width:
          type: integer
          minimum: 1
          maximum: 100000
          description: >
            Optional pixel width, provided together with height. Clients use
            the pair to reserve the true aspect ratio before the media bytes
            download. When omitted for an uploaded image attachment, the
            server derives both values from the stored bytes.
        height:
          type: integer
          minimum: 1
          maximum: 100000
          description: Optional pixel height, provided together with width.
        blur_hash:
          type: string
          minLength: 6
          maxLength: 96
          pattern: '^[0-9A-Za-z#$%*+,\-.:;=?@\[\]^_{|}~]{6,96}$'
          description: >
            Optional blurhash placeholder (base83 characters only, see
            https://blurha.sh). Clients decode it into a soft preview before
            the media bytes download. When omitted for an uploaded image
            attachment, the server derives one from the stored bytes at
            commit.
      dependentRequired:
        width: [height]
        height: [width]
      oneOf:
        - properties: { url: {} }
          required: [url]
        - properties: { attachment_id: {} }
          required: [attachment_id]

    LinkPreviewPartInput:
      type: object
      additionalProperties: false
      required: [type, url]
      description: URL rendered as a native rich preview when metadata is available.
      properties:
        type: { type: string, const: link }
        url:
          type: string
          format: uri
          pattern: "^https://"
          maxLength: 2048
        title:
          type: string
          maxLength: 512
          description: >
            Optional page title you resolved for this URL. Relay stores it
            with the part and echoes it back, so no recipient opens a
            connection to a URL somebody else chose.
        preview_state:
          type: string
          enum: [pending]
          description: >
            Send `pending` when you have not resolved the page yourself and
            want Relay to. The message commits immediately with the part
            marked pending, Relay fetches the page, and a `message.updated`
            event carries the settled title. Relay always settles it: a page
            with no title clears the marker too, so a pending part is a
            preview that is coming, never one that silently failed.
        description:
          type: string
          maxLength: 512
          deprecated: true
          description: >
            Accepted and ignored. A link part stores its URL and a title and
            nothing else; the description, hero image and site name a card
            draws come from `GET /v1/links/unfurl` at render time. Older
            senders may still include it (along with `preview_version`,
            `preview_kind`, `canonical_url`, `site_name`, `image_url`,
            `attachment_id`, `mime_type`, `filename`, `size_bytes`, `width`,
            `height` and `blur_hash`) and are not rejected for it.

    DataPartInput:
      type: object
      additionalProperties: false
      required: [type, data]
      properties:
        type: { type: string, const: data }
        data:
          description: >
            Integration-defined JSON, limited to 16 KB by the server. Relay
            stores and delivers it as sent; clients render a part-level
            fallback string when present, then the message text.
            Consumers must ignore unknown fields inside a data part.

            One `data.type` value is reserved and is not carried through as
            sent: `agent_card` names an agent to share and Relay resolves the
            card itself, so what you send is AgentCardDataInput and what
            recipients receive is AgentCardData.
          anyOf:
            - $ref: "#/components/schemas/AgentCardDataInput"
            - description: Other integration-defined JSON data.

    AgentCardDataInput:
      type: object
      additionalProperties: false
      required: [type, handle]
      description: >
        The `data` value of a data part that shares a Relay agent. A sender
        names the agent and nothing else: every field the card draws is read
        from the agent record inside the same transaction that commits the
        message, so a card cannot dress one agent in another's identity. Any
        property beyond `type` and `handle` returns 422, as does a handle
        that names no agent or names a retired one.
      properties:
        type: { type: string, const: agent_card }
        handle:
          type: string
          description: Relay agent handle, without the "@". Lowercased on commit.
          example: relay

    AgentCardData:
      type: object
      additionalProperties: false
      required: [type, agent, fallback]
      description: >
        The `data` value recipients receive in place of what was sent. It is
        a snapshot, not a live join: the card keeps saying what was true when
        it was sent, so renaming an agent never rewrites cards already in a
        transcript.
      properties:
        type: { type: string, const: agent_card }
        agent:
          type: object
          additionalProperties: false
          required: [kind, id, handle, display_name, tagline, verified]
          properties:
            kind: { type: string, const: agent }
            id: { type: string, pattern: "^agt_" }
            handle: { type: string }
            display_name: { type: string }
            tagline:
              type: string
              description: Empty string when the agent has not set one.
            avatar_url: { type: [string, "null"] }
            accent_color: { type: [string, "null"] }
            verified:
              type: boolean
              description: >
                True for a first-party Relay agent. Read from the agent
                record, never inferred from the handle.
        fallback:
          type: string
          description: The handle with its "@", drawn wherever no card renderer exists.
          example: "@relay"

    PartId:
      type: string
      pattern: "^prt_[0-9a-hjkmnp-tv-z]{26}$"
      example: prt_01k1m4q9vn2r7t9b4c6qdh8xwy
      description: >
        Permanent part identity, minted when the part is committed. It is what
        a reply or a reaction names, so a target never depends on a position.

    Part:
      description: >
        One part of a message, discriminated on `type`. The union is
        deliberately open: a client that meets a `type` it does not know must
        render the message's `text` for that part and leave it
        otherwise untouched, rather than dropping the part or failing the
        message. Relay adds part types without a version bump, so this is the
        difference between an old client degrading and an old client breaking.
      oneOf:
        - $ref: "#/components/schemas/TextPart"
        - $ref: "#/components/schemas/MediaPart"
        - $ref: "#/components/schemas/LinkPreviewPart"
        - $ref: "#/components/schemas/DataPart"
        - $ref: "#/components/schemas/UnknownPart"

    UnknownPart:
      type: object
      additionalProperties: true
      required: [part_index, type]
      description: >
        The catch-all that keeps `Part` open. Anything whose `type` is not one
        of the published kinds matches here and still carries its identity.
      properties:
        part_index: { type: integer, minimum: 0 }
        part_id:
          $ref: "#/components/schemas/PartId"
        position:
          type: integer
          minimum: 0
          description: >
            Dense presentation position, always equal to `part_index`.
            `part_index` is retained for shipped clients; neither is ever an
            identity. Reactions and replies key on `part_id`.
        type:
          type: string
          not:
            enum: [text, media, link, data]
          description: >
            A part kind this version of the spec does not publish. The
            exclusion is what keeps the union unambiguous: a known kind is
            always checked against its own shape and never falls through here.

    TextPart:
      type: object
      additionalProperties: false
      required: [type, text]
      properties:
        part_index: { type: integer, minimum: 0 }
        part_id:
          $ref: "#/components/schemas/PartId"
        position:
          type: integer
          minimum: 0
        type: { type: string, const: text }
        text: { type: string }
        mention:
          $ref: "#/components/schemas/Mention"
        mention_range:
          type: array
          minItems: 2
          maxItems: 2
          items: { type: integer, minimum: 0 }
          description: The mention's [start, end) UTF-16 range over `text`.
        styles:
          type: array
          maxItems: 200
          description: >
            Formatting runs carried by this text part, as validated at send
            time. Offsets are UTF-16 code units over `text`. An empty array
            marks structured plain text; the field is absent on legacy
            Markdown bodies.
          items:
            $ref: "#/components/schemas/StyleRange"

    Mention:
      type: string
      pattern: "^[a-z][a-z0-9_]{2,31}$"
      description: >
        The handle of a mentioned user or agent, without the leading "@". It
        must be written as `@handle` in the part's `text`.

    StyleRange:
      type: object
      additionalProperties: false
      required: [start, length, styles]
      properties:
        start:
          type: integer
          minimum: 0
          description: UTF-16 code-unit offset of the styled run in `text`.
        length:
          type: integer
          minimum: 1
          description: Length of the styled run in UTF-16 code units.
        styles:
          type: array
          minItems: 1
          items:
            type: string
            enum: [bold, italic, underline, strikethrough]
          description: >
            Formats applied to the run: the four every reference messenger
            ships. The server deduplicates the names and stores them in this
            enum's order, so equal formatting always serializes identically.
            Any other name answers 422.

    MediaPart:
      type: object
      additionalProperties: false
      required: [part_index, type, url, content_type, media_kind]
      properties:
        part_index: { type: integer, minimum: 0 }
        part_id:
          $ref: "#/components/schemas/PartId"
        position:
          type: integer
          minimum: 0
        type: { type: string, const: media }
        url: { type: string, format: uri }
        attachment_id: { type: string, pattern: "^att_" }
        content_type:
          type: string
          description: >
            Canonical MIME type. Attachment-backed parts use the upload's
            stored MIME type.
        media_kind:
          type: string
          enum: [image, video, audio, file]
          description: Canonical presentation kind used by clients.
        filename:
          type: string
          minLength: 1
          maxLength: 180
          example: quarterly-report.pdf
          description: >
            Display filename, present when the part is backed by an
            attachment that carries one or the sender declared one. An
            attachment's stored filename wins over a declared value.
        size_bytes:
          type: integer
          minimum: 0
          maximum: 104857600
          example: 2418562
          description: >
            Byte count, present under the same rule as filename. For an
            attachment this is the stored byte count, so a client can show
            the true size beside a file row before downloading.
        width:
          type: integer
          minimum: 1
          description: >
            Pixel width, present when the sender declared dimensions or the
            server derived them from an uploaded image. Always paired with
            height; reserve the balloon at width/height before downloading.
        height: { type: integer, minimum: 1 }
        blur_hash:
          type: string
          minLength: 6
          maxLength: 96
          pattern: '^[0-9A-Za-z#$%*+,\-.:;=?@\[\]^_{|}~]{6,96}$'
          description: >
            Blurhash placeholder, present when the sender declared one or
            the server derived it from a stored image attachment. Decode it
            into a soft preview to draw before the media bytes download.

    LinkPreviewPart:
      type: object
      additionalProperties: false
      required: [type, url]
      properties:
        part_index: { type: integer, minimum: 0 }
        part_id:
          $ref: "#/components/schemas/PartId"
        position:
          type: integer
          minimum: 0
        type: { type: string, const: link }
        url: { type: string, format: uri, maxLength: 2048 }
        title:
          type: string
          maxLength: 512
          description: >
            The page title, present only once somebody has read the page:
            the sender resolved it, or Relay did while settling a pending
            preview. A part with no title renders as a plain link.
        preview_state:
          type: string
          enum: [pending]
          description: >
            Present only while Relay is still fetching the page. A settled
            part carries no `preview_state` key at all, which is the same
            shape a bare link has always had. Everything else a card draws --
            description, hero image, site name -- is live detail from
            `GET /v1/links/unfurl`, not something the message stores.

    DataPart:
      type: object
      additionalProperties: false
      required: [type, data]
      properties:
        part_index: { type: integer, minimum: 0 }
        part_id:
          $ref: "#/components/schemas/PartId"
        position:
          type: integer
          minimum: 0
        type: { type: string, const: data }
        data:
          anyOf:
            - $ref: "#/components/schemas/AgentCardData"
            - description: Other integration-defined JSON data.

    ReplyRef:
      type: [object, "null"]
      additionalProperties: false
      description: >
        A pointer, never a copy. `message_id` names a message of the same
        conversation and `part_id` optionally names one exact part of it. The
        client draws the quote from the target itself, so a reply always shows
        what the target says now, and both ids are permanent.
      required: [message_id]
      properties:
        message_id:
          type: string
          pattern: "^msg_[0-9a-hjkmnp-tv-z]{26}$"
          example: msg_01k1m4q9vn2r7t9b4c6qdh8xwy
        part_id:
          allOf:
            - $ref: "#/components/schemas/PartId"
          description: >
            Present when the reply targeted one exact part. Omitted, not null,
            when the reply names the whole message.

    GroupEvent:
      type: object
      additionalProperties: false
      required: [event_type, fallback_text]
      description: >
        What a group notice announces. Present only on a notice message; its
        absence is what makes a message ordinary. The message's `sender_handle`
        is who did it and `created_at` is when. Render a notice as a centered
        system line, not as a bubble.
      properties:
        event_type:
          type: string
          enum: [member_added, member_left, member_removed, name_changed, photo_changed]
        target_handle_id:
          type: string
          pattern: "^(usr|agt)_"
          description: Who was added, left, or was removed.
        new_title:
          type: string
          description: The name a rename set.
        new_photo_url:
          type: string
          description: The photo a change set; absent means the photo was cleared.
        fallback_text:
          type: string
          description: >
            The rendered line, for push, webhooks, and agents that will not
            render the structured event themselves. The structured fields are
            authoritative.
    Sender:
      type: object
      additionalProperties: false
      required: [kind, id]
      description: >
        A participant. Every message is sent by a person or an agent; there is
        no system sender, and a group notice is sent by whoever caused it.
      properties:
        kind:
          type: string
          enum: [user, agent]
        id:
          type: string
          pattern: "^(usr|agt)_"
          example: usr_01JZU1F0BD

    ProjectedReaction:
      type: object
      additionalProperties: false
      required: [target_part_id, type, actor_kind, actor_id, created_at]
      description: One reaction as it appears in a message's `reactions` array.
      properties:
        target_part_id:
          oneOf:
            - $ref: "#/components/schemas/PartId"
            - type: "null"
          description: >
            The part this reaction is anchored to, and the only identity for
            it. Null exactly when the reaction is on the whole message.
        type:
          type: string
          enum: [love, like, dislike, laugh, emphasize, question, custom]
          description: >
            Apple's six tapback verbs (chat.db associated_message_type
            2000–2005, spelled the way Linq spells them) plus `custom`.
        custom_emoji:
          type: string
          maxLength: 32
          description: Present exactly when `type` is `custom`.
        actor_kind:
          type: string
          enum: [user, agent]
        actor_id:
          type: string
          pattern: "^(usr|agt)_"
        created_at:
          type: string
          format: date-time

    Message:
      type: object
      additionalProperties: false
      description: >
        One committed message. Content is immutable: there is no edit, no
        unsend, no version and no tombstone, so a message a client has stored
        never changes underneath it. Only the receipt stamps and the reactions
        move.
      required:
        - id
        - chat_id
        - sequence
        - sender_handle
        - is_from_me
        - parts
        - reply_to
        - text
        - status
        - created_at
      properties:
        id:
          type: string
          pattern: "^msg_[0-9a-hjkmnp-tv-z]{26}$"
          example: msg_01k1m4q9vn2r7t9b4c6qdh8xwy
        chat_id:
          type: string
          pattern: "^cnv_"
          example: cnv_01k1m4q9vn2r7t9b4c6qdh8xwy
        sequence:
          type: integer
          description: Order inside stored conversation history. Linq webhook envelopes do not include it.
        group_event:
          $ref: "#/components/schemas/GroupEvent"
        is_audio_message:
          type: boolean
          description: >
            A voice memo: the message's only part is audio. Derived from the
            parts rather than stored, so it can never disagree with them.
        sender_handle:
          $ref: "#/components/schemas/Sender"
        is_from_me:
          type: boolean
          description: >
            True when the caller this payload was projected for is the sender.
            Relay resolves direction on the server and states it here, because
            comparing sender.id against your own identity is ambiguous for a
            caller that does not yet know it, and wrong for every other
            participant in a group.
        parts:
          type: array
          minItems: 0
          maxItems: 32
          description: >
            An ordinary message has at least one part; a notice carries none —
            what it announces is its `group_event`.
          items:
            $ref: "#/components/schemas/Part"
        reply_to:
          $ref: "#/components/schemas/ReplyRef"
        reactions:
          type: array
          description: >
            Current reactions. History and bootstrap projections include this
            array; a send response carries the committed message alone.
          items:
            $ref: "#/components/schemas/ProjectedReaction"
        text:
          type: string
          description: Plain-language representation used by notifications and search.
        status:
          type: string
          enum: [sent, delivered, read]
          description: >
            The sender's view of this message in a 1:1 conversation. A group
            message is always `sent`: Relay reports no per-recipient receipts
            in groups, the way iMessage does not.
          example: sent
        delivered_at:
          type: string
          format: date-time
          description: Present in a 1:1 conversation once the recipient has it.
        read_at:
          type: string
          format: date-time
          description: Present in a 1:1 conversation once the recipient has read it.
        created_at:
          type: string
          format: date-time

    SendMessageBody:
      type: object
      description: >
        The `/v1` send body. Unknown fields are ignored rather than refused;
        `/v2` refuses them.
      required: [parts]
      properties:
        message_id:
          type: string
          pattern: "^msg_[0-9a-hjkmnp-tv-z]{26}$"
          example: msg_01k1m4q9vn2r7t9b4c6qdh8xwy
          description: >
            The client-minted canonical id and idempotency key. Omit it and
            Relay mints one, which makes the send non-idempotent.
        parts:
          type: array
          minItems: 1
          maxItems: 32
          description: Ordered parts of one message. An absent or empty array returns 422.
          items:
            $ref: "#/components/schemas/PartInput"
        reply_to:
          $ref: "#/components/schemas/ReplyRefInput"
        text:
          type: string
          description: >
            Optional plain-language representation for notifications and
            search. Relay derives one when it is absent.

    SendMessageInput:
      allOf:
        - $ref: "#/components/schemas/SendMessageBody"
        - type: object
          required: [chat_id]
          properties:
            chat_id:
              type: string
              pattern: "^cnv_"
              description: Conversation to send into, from `message.received`.
              example: cnv_01k1m4q9vn2r7t9b4c6qdh8xwy

    SendMessageV2Input:
      type: object
      additionalProperties: false
      required: [message_id, parts]
      properties:
        message_id:
          type: string
          pattern: "^msg_[0-9a-hjkmnp-tv-z]{26}$"
          example: msg_01k1m4q9vn2r7t9b4c6qdh8xwy
          description: >
            The client mints this before queueing the send: a lowercase
            Crockford base32 ULID with a `msg_` prefix. It is the canonical id
            of the resulting message and the send's idempotency key, and unlike
            `/v1` it is required.
        parts:
          type: array
          minItems: 1
          maxItems: 32
          description: Ordered parts of one message.
          items:
            $ref: "#/components/schemas/PartInput"
        reply_to:
          $ref: "#/components/schemas/ReplyRefInput"
        text:
          type: string
          description: Plain-language representation for notifications and search.

    ReplyRefInput:
      type: [object, "null"]
      additionalProperties: false
      description: >
        A reply target on a send: a message of this conversation, optionally
        one exact part of it.
      required: [message_id]
      properties:
        message_id:
          type: string
          pattern: "^msg_[0-9a-hjkmnp-tv-z]{26}$"
          example: msg_01k1m4q9vn2r7t9b4c6qdh8xwy
        part_id:
          $ref: "#/components/schemas/PartId"

    SendMessageV2Response:
      type: object
      additionalProperties: false
      required: [message]
      properties:
        message:
          $ref: "#/components/schemas/Message"

    ReactionInput:
      type: object
      additionalProperties: false
      required: [operation, type]
      properties:
        operation:
          type: string
          enum: [add, remove]
        type:
          type: string
          enum: [love, like, dislike, laugh, emphasize, question, custom]
          description: >
            Apple's six tapback verbs (chat.db associated_message_type
            2000–2005, spelled the way Linq spells them) plus `custom`, which
            carries the emoji in `custom_emoji`.
        custom_emoji:
          type: string
          minLength: 1
          maxLength: 32
          description: Required exactly when `type` is `custom`.
          example: "🔥"
        target_part_id:
          oneOf:
            - $ref: "#/components/schemas/PartId"
            - type: "null"
          description: >
            React to one exact part, of any kind. It must name a part this
            message has. Omit it, or send null, to react to the whole message.

    Reaction:
      type: object
      additionalProperties: false
      required: [message_id, target_part_id, type, actor, operation, changed]
      description: >
        The reaction endpoint's synchronous response. Webhook subscribers
        receive a separate `reaction.added` or `reaction.removed` event using
        LinqReactionEventData.
      properties:
        message_id: { type: string, pattern: "^msg_" }
        target_part_id:
          oneOf:
            - $ref: "#/components/schemas/PartId"
            - type: "null"
          description: Null exactly when the reaction is on the whole message.
        type:
          type: string
          enum: [love, like, dislike, laugh, emphasize, question, custom]
        custom_emoji: { type: string, example: "❤️" }
        actor:
          $ref: "#/components/schemas/Sender"
        operation:
          type: string
          enum: [add, remove]
        changed:
          type: boolean
          description: >
            False when the request was a no-op: removing a reaction that was
            not there, or re-adding the one already in the slot. Events are
            emitted only when this is true, so a retry costs the recipient
            nothing.

    ReceiptInput:
      type: object
      additionalProperties: false
      required: [message_id]
      properties:
        message_id:
          type: string
          pattern: "^msg_"
          description: The message to advance the watermark through. It may not be the caller's own.
          example: msg_01k1m4q9vn2r7t9b4c6qdh8xwy

    ReceiptSnapshot:
      type: object
      additionalProperties: false
      required: [message_id, chat_id, through_sequence, recipient, status, at]
      properties:
        message_id: { type: string, pattern: "^msg_" }
        chat_id: { type: string, pattern: "^cnv_" }
        through_sequence: { type: integer, minimum: 1 }
        recipient:
          $ref: "#/components/schemas/Sender"
        status: { type: string, enum: [delivered, read] }
        at: { type: string, format: date-time }

    ReceiptResult:
      type: object
      additionalProperties: false
      required: [receipt, advanced]
      properties:
        receipt:
          $ref: "#/components/schemas/ReceiptSnapshot"
        advanced:
          type: boolean
          description: >
            False when this watermark was already at or past the target,
            which is the ordinary answer to a repeated or older call.

    WebhookEventType:
      type: string
      enum:
        - message.sent
        - message.received
        - message.delivered
        - message.read
        - chat.created
        - chat.group_name_updated
        - chat.group_icon_updated
        - participant.added
        - participant.removed
        - reaction.added
        - reaction.removed

    Webhook:
      type: object
      additionalProperties: false
      required: [id, url, events, enabled, secret_prefix, disabled_at, last_disabled_reason, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: "^wh_"
        url:
          type: string
          format: uri
          maxLength: 2048
          example: https://agent.example/webhooks/relay
        events:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: "#/components/schemas/WebhookEventType"
        enabled:
          type: boolean
        secret_prefix:
          type: string
          pattern: "^whsec_"
        disabled_at:
          type: [string, "null"]
          format: date-time
        last_disabled_reason:
          type: [string, "null"]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WebhookListResponse:
      type: object
      additionalProperties: false
      required: [webhooks]
      properties:
        webhooks:
          type: array
          items:
            $ref: "#/components/schemas/Webhook"

    WebhookCreateInput:
      type: object
      additionalProperties: false
      required: [url]
      properties:
        url:
          type: string
          format: uri
          pattern: "^https://"
          maxLength: 2048
          description: >
            Public HTTPS receiver URL, without credentials and without a
            fragment.
          example: https://agent.example/webhooks/relay
        events:
          type: array
          minItems: 1
          uniqueItems: true
          description: Omit to subscribe to every supported event.
          items:
            $ref: "#/components/schemas/WebhookEventType"

    WebhookUpdateInput:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        url:
          type: string
          format: uri
          pattern: "^https://"
          maxLength: 2048
        events:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: "#/components/schemas/WebhookEventType"
        enabled:
          type: boolean

    WebhookSecretResponse:
      type: object
      additionalProperties: false
      required: [webhook, signing_secret]
      properties:
        webhook:
          $ref: "#/components/schemas/Webhook"
        signing_secret:
          type: string
          pattern: "^whsec_"
          description: >
            Base64-encoded 256-bit HMAC key. Returned only when a subscription
            is created or its secret is rotated; Relay never returns it again.
          example: whsec_EXAMPLEKEYDONOTUSE0000000000000000

    LinqWebhookEnvelope:
      type: object
      additionalProperties: false
      required: [api_version, webhook_version, event_type, event_id, created_at, trace_id, partner_id, data]
      description: Linq's v3 webhook envelope at webhook version 2026-02-03.
      properties:
        api_version:
          type: string
          const: v3
        webhook_version:
          type: string
          const: "2026-02-03"
        event_type:
          $ref: "#/components/schemas/WebhookEventType"
        event_id:
          type: string
          description: Stable at-least-once delivery deduplication key.
        created_at:
          type: string
          format: date-time
        trace_id:
          type: string
          description: Correlation ID for delivery debugging.
        partner_id:
          type: string
          description: Receiving agent ID.
        data:
          description: >
            Linq event-specific data. Select the branch using `event_type`.
          oneOf:
            - $ref: "#/components/schemas/LinqMessageEventData"
            - $ref: "#/components/schemas/LinqReactionEventData"
            - $ref: "#/components/schemas/LinqChatCreatedEventData"
            - $ref: "#/components/schemas/LinqChatMetadataEventData"
            - $ref: "#/components/schemas/LinqParticipantAddedEventData"
            - $ref: "#/components/schemas/LinqParticipantRemovedEventData"

    LinqChatHandle:
      type: object
      additionalProperties: false
      required: [id, handle, is_me, service, status, joined_at, left_at]
      properties:
        id: { type: string }
        handle: { type: string }
        is_me: { type: boolean }
        service: { type: string, const: iMessage }
        status: { type: string, enum: [active, left, removed] }
        joined_at: { type: string, format: date-time }
        left_at: { type: [string, "null"], format: date-time }

    LinqHealthStatus:
      type: object
      additionalProperties: false
      required: [status, doc_url, updated_at]
      properties:
        status: { type: string, const: HEALTHY }
        doc_url:
          type: string
          const: https://docs.linqapp.com/guides/chats/chat-health#healthy
        updated_at: { type: string, format: date-time }

    LinqMessageChat:
      type: object
      additionalProperties: false
      required: [id, is_group, owner_handle, health_status]
      properties:
        id: { type: string }
        is_group: { type: boolean }
        owner_handle:
          $ref: "#/components/schemas/LinqChatHandle"
        health_status:
          $ref: "#/components/schemas/LinqHealthStatus"

    LinqTextPart:
      type: object
      additionalProperties: false
      required: [type, value]
      properties:
        type: { type: string, const: text }
        value: { type: string }
        mention: { type: string }
        mention_range:
          type: array
          minItems: 2
          maxItems: 2
          items: { type: integer }
        text_decorations:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [range, style]
            properties:
              range:
                type: array
                minItems: 2
                maxItems: 2
                items: { type: integer }
              style: { type: string }

    LinqMediaPart:
      type: object
      additionalProperties: false
      required: [id, filename, mime_type, size_bytes, type, url]
      properties:
        id: { type: string }
        filename: { type: string }
        mime_type: { type: string }
        size_bytes: { type: integer, minimum: 0 }
        type: { type: string, const: media }
        url: { type: string, format: uri }

    LinqLinkPart:
      type: object
      additionalProperties: false
      required: [type, value]
      properties:
        type: { type: string, const: link }
        value: { type: string, format: uri }

    LinqMessageEventData:
      type: object
      additionalProperties: false
      required: [chat, id, direction, sender_handle, parts, effect, reply_to, sent_at, delivered_at, read_at, service]
      properties:
        chat:
          $ref: "#/components/schemas/LinqMessageChat"
        id: { type: string }
        idempotency_key: { type: [string, "null"] }
        direction: { type: string, enum: [inbound, outbound] }
        sender_handle:
          $ref: "#/components/schemas/LinqChatHandle"
        parts:
          type: array
          items:
            oneOf:
              - $ref: "#/components/schemas/LinqTextPart"
              - $ref: "#/components/schemas/LinqMediaPart"
              - $ref: "#/components/schemas/LinqLinkPart"
        effect: { type: [string, "null"] }
        reply_to:
          oneOf:
            - type: "null"
            - type: object
              additionalProperties: false
              required: [message_id]
              properties:
                message_id: { type: string }
                part_index: { type: integer, minimum: 0 }
        sent_at: { type: string, format: date-time }
        delivered_at: { type: [string, "null"], format: date-time }
        read_at: { type: [string, "null"], format: date-time }
        service: { type: string, const: iMessage }
        preferred_service: { type: [string, "null"] }

    LinqReactionEventData:
      type: object
      additionalProperties: false
      required: [chat_id, message_id, part_index, reaction_type, custom_emoji, is_from_me, from, from_handle, service, reacted_at, sticker]
      properties:
        chat_id: { type: string }
        message_id: { type: string }
        part_index: { type: integer, minimum: 0 }
        reaction_type: { type: string, enum: [love, like, dislike, laugh, emphasize, question, custom] }
        custom_emoji: { type: [string, "null"] }
        is_from_me: { type: boolean }
        from: { type: string }
        from_handle:
          $ref: "#/components/schemas/LinqChatHandle"
        service: { type: string, const: iMessage }
        reacted_at: { type: string, format: date-time }
        sticker: { type: "null" }

    LinqChatCreatedEventData:
      type: object
      additionalProperties: false
      required: [id, display_name, service, handles, is_group, created_at, updated_at, health_status]
      properties:
        id: { type: string }
        display_name: { type: string }
        service: { type: string, const: iMessage }
        handles:
          type: array
          items:
            $ref: "#/components/schemas/LinqChatHandle"
        is_group: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        health_status:
          $ref: "#/components/schemas/LinqHealthStatus"

    LinqChatMetadataEventData:
      type: object
      additionalProperties: false
      required: [chat_id, old_value, new_value, changed_by_handle, updated_at]
      properties:
        chat_id: { type: string }
        old_value: { type: [string, "null"] }
        new_value: { type: [string, "null"] }
        changed_by_handle:
          $ref: "#/components/schemas/LinqChatHandle"
        updated_at: { type: string, format: date-time }

    LinqParticipantAddedEventData:
      type: object
      additionalProperties: false
      required: [chat_id, handle, participant, added_at]
      properties:
        chat_id: { type: string }
        handle: { type: string }
        participant:
          $ref: "#/components/schemas/LinqChatHandle"
        added_at: { type: string, format: date-time }
[...]
